$match-width: 100px;
$match-height: 50px;
.match {
	// display: table;
	width: $match-width;
	height: $match-height;

	background-color: $x-light-grey;

	margin: 2px;

	list-style-type: none; // remove defaults
	padding-left: 0; // remove defaults

	text-align: left;
	// cursor: pointer;

	font-size: 10px;

	@include transition(all 0.5s ease);

	&.final{
		border-top: 2px solid $light-grey;
		&:hover{
			cursor: pointer;
			background-color: $black;
			color: white;
			.team.winner,
			.team.loser {
				color: white;
			}
		}
	}
}

.match .team {
	width: $match-width;
	height: $match-height / 2;
	padding: 3px;

	// display: table-cell;
  // vertical-align: middle;
  .name{}
  .score{float: right;}
}

// WINNER STATE

.match .team.winner {
	font-weight: 700;
	color: $black;
}

.match .team.loser {
	color: $light-grey;
}

////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////
//////////////////////////////////////////////////////
/////////////////////////////////////////////////////



///////////////////////////////////////////////////
// MEDIUM REGION /////////////////////////////////
@media all and (min-width: $medium-region) {
	.match {
		font-size: 12px;
	}
}