#bracket {
	position: relative;

	.region {
		display: none;
		position: relative;

		width: 310px;
		height: 480px;
		margin: 0 auto;
	}

	.region-title {
		display: none;
		position: absolute;
		text-transform: uppercase;
		font-family: $slab;
		font-size: 22px;
		color: $grey;
		margin: 0;
	}

	.close{
		position: absolute;
		font-size: 2.7em;
		cursor: pointer; // handle click with javascript
		@include clearfix;
		&:hover {
			.icon-close { color: $black }
		}
		.icon-close {
			color: $light-grey;
			z-index: 9; // above close
			@include transition(color 0.2s ease);
		}
	}

	.region.active{ display: block; }

	.round {
		width: 100px;
		.round-date { display: none; }
		.round-title { display: none; }
	}

	.south,
	.east {
		.close {
			right: -7px;
			top: 10px;
		}
		.round {
			float: left;
			margin-right: 10px;
			&.round4{margin-left: -60px;}
			&.round5{margin-left: -80px;}
		}
	}

	.west,
	.midwest {
		.close {
			right: -7px;
			top: 10px;
		}
		.round {
			float: right;
			margin-left: 10px;
			&.round2{margin-right: 12px;}
			&.round4{margin-right: -60px;}
			&.round5{margin-right: -84px;}
		}
	}

	.south,
	.east,
	.west,
	.midwest{
		background-repeat: no-repeat;
		background-size: auto 527px;
	}

	.south,
	.east {
		background-position: -39px -71px;
	}

	.west,
	.midwest {
		background-position: -1px -63px;
	}

	.south {background-image: url('/images/lines/south.svg')}
	.east {background-image: url('/images/lines/east.svg')}
	.west {background-image: url('/images/lines/west.svg')}
	.midwest {background-image: url('/images/lines/midwest.svg')}


	.round2 { margin-top: 2%; }
	.round2 .match { margin-bottom: 8%; }

	.round3 { margin-top: 10%; }
	.round3 .match { margin-bottom: 67%; }

	.round4 { margin-top: 28%; }
	.round4 .match { margin-bottom: 184%; }

	.round5 { margin-top: 206px; }

	.round6, .round7 { display: none; }

	.finals {
		height: 200px;
		.round2, .round3, .round4, .round5 {display: none;}
		.round6, .round7 {display: block;}
		.round6 {
			width: 100%;
			margin-top: 50px;
			@include clearfix;
			.match{float: left;}
			.match:last-child{float: right;}

			// .match:nth-child(1){float: left;}
			// .match:nth-child(2){float: right;}
		}
		.round7 {
			width: 100%;
			.match {
				margin: 10px auto;
			}
		}
	}
}


////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////
//////////////////////////////////////////////////////
/////////////////////////////////////////////////////



///////////////////////////////////////////////////
// MEDIUM REGION /////////////////////////////////
@media all and (min-width: $medium-region) {
	#bracket {
		.region {
			width: 450px;

			.region-title {
				display: block;
				top: 252px;
			}

			.round-title,
			.round-date{
				display: block;
				color: $light-grey;
				font-family: $slab;
				font-weight: 400;
				margin: 0 5px;
				font-size: 12px;
			}
		}

		.finals .round-title,
		.finals .round-date { text-align: center; }

		.south,
		.east {
			background-position: 20px -28px;
			.region-title {left: 231px;}
			.round {
				&.round2{margin-left: 8px;}
				&.round4{margin-left: 0;}
				&.round5{margin-left: 0;}
			}
		}

		.west,
		.midwest {
			background-position: 84px -29px;
			.region-title {left: 130px;}
			.round {
				&.round2{margin-right: 8px;}
				&.round4{margin-right: 0;}
				&.round5{margin-right: 0;}
			}
		}

		.finals{
			.region-title {
				top: 42px;
				left: 184px;
			}
		}

		.round2 { margin-top: 8px; }
		.round2 .match { margin-bottom: 8%; }

		.round3 { margin-top: 40px; }
		.round3 .match { margin-bottom: 66px; }

		.round4 { margin-top: 98px; }
		.round4 .match { margin-bottom: 184%; }

		.round5 { margin-top: 210px; }

		.round6, .round7 { display: none; }
	}

}



//////////////////////////////////////////////////
// FULL BRACKET /////////////////////////////////
// @media all and (min-width: $full-bracket) {}

//////////////////////////////////////////////////
// FULL WIDTH ///////////////////////////////////
@media all and (min-width: $full-width) {
	#bracket .region{
		// width: 450px;
		float: left;
		display: block;
		margin-bottom: 40px;

		&.finals {
			width: 320px;
			.region-title{
				top: 94px;
				left: 118px;
			}
			.round7 .round-title{margin-top: 10px;}
		}

		&.west {float: right }
	  &.midwest {float: right }
	  &.finals{
	  	position: absolute;
	  	top: 408px;
	  	left: 450px - 320/2;
	  }
	}
}

