#bracket {
	position: relative;

	.region {
		display: none;

		width: 320px;
		height: 480px;
		margin: 0 auto;
	}

	.region.active{ display: block; }

	.round {
		width: 100px;
		.title { display: none; }
	}

	.south,
	.east {
		.round {
			float: left;
			margin-right: 10px;
			&.round4{margin-left: -50px;}
			&.round5{margin-left: -70px;}
		}
	}

	.west,
	.midwest {
		.round {
			float: right;
			margin-left: 10px;
			&.round2{margin-right: 5px;}
			&.round4{margin-right: -50px;}
			&.round5{margin-right: -80px;}
		}
	}


	.round2 { margin-top: 2%; }
	.round2 .match { margin-bottom: 8%; }

	.round3 { margin-top: 10%; }
	.round3 .match { margin-bottom: 67%; }

	.round4 { margin-top: 28%; }
	.round4 .match { margin-bottom: 184%; }

	.round5 { margin-top: 64%; }

	.round6, .round7 { display: none; }

	.finals {
		.round2, .round3, .round4, .round5 {display: none;}
		.round6, .round7 { display: block; }
		.round6 {
			width: 100%;
			margin-top: 50px;
			@include clearfix;
			.match:nth-child(1){float: left;}
			.match:nth-child(2){float: right;}
		}
		.round7 {
			width: 100%;
			.match {
				margin: 10px auto;
			}
		}
	}
}


////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////
//////////////////////////////////////////////////////
/////////////////////////////////////////////////////



///////////////////////////////////////////////////
// MEDIUM REGION /////////////////////////////////
@media all and (min-width: $medium-region) {
	#bracket {
		.region {
			width: 450px;

			.title{
				display: block;
				color: $light-grey;
				font-family: $slab;
				font-weight: 400;
				margin: 0 5px;
				font-size: 15px;
			}
		}

		.finals .title { text-align: center; }

		.south,
		.east {
			.round {
				&.round2{margin-left: 8px;}
				&.round4{margin-left: 0;}
				&.round5{margin-left: 0;}
			}
		}

		.west,
		.midwest {
			.round {
				&.round2{margin-right: 8px;}
				&.round4{margin-right: 0;}
				&.round5{margin-right: 0;}
			}
		}


		.round2 { margin-top: 8px; }
		.round2 .match { margin-bottom: 8%; }

		.round3 { margin-top: 40px; }
		.round3 .match { margin-bottom: 66px; }

		.round4 { margin-top: 98px; }
		.round4 .match { margin-bottom: 184%; }

		.round5 { margin-top: 210px; }

		.round6, .round7 { display: none; }
	}

}



//////////////////////////////////////////////////
// FULL BRACKET /////////////////////////////////
// @media all and (min-width: $full-bracket) {}

//////////////////////////////////////////////////
// FULL WIDTH ///////////////////////////////////
@media all and (min-width: $full-width) {
	#bracket .region{
		// width: 450px;
		float: left;
		display: block;
		margin-bottom: 40px;

		&.finals { width: 320px;}

		&.west {float: right }
	  &.midwest {float: right }
	  &.finals{
	  	position: absolute;
	  	top: 408px;
	  	left: 450px - 320/2;
	  }
	}
}

