<div class="match">
	<div class="team1">
		<span class="seed">{{ team1-seed }}</span>
		<span class="img">{{ team1-img }}</span>
		<span class="name">{{ team1-name }}</span>
		<span class="score">{{ team1-score }}</span>
	</div>
	<div class="team2">
		<span class="seed">{{ team2-seed }}</span>
		<span class="img">{{ team2-img }}</span>
		<span class="name">{{ team2-name }}</span>
		<span class="score">{{ team2-score }}</span>
	</div>
	<div class="popup">
		<div class="teams">
			<span class="name">{{ team1-name }} {{ team1-score }}</span>
			VS.
			<span class="name">{{ team2-name }} {{ team2-score }}</span>
		</div>
		<p>{{ match-popup-text }}</p>
		<a href="{{ match-article-link }}">Read More ››</a>
	</div>
</div>