<div class="close">
	<span class="ic icon-stop"></span>
	<span class="ic icon-close"></span>
</div>

<div class="hpc-header">
	<div class="team1">
		<div class="topLock">
			<span class="seed">{{ team1-seed }}</span>
			<span class="name">{{ team1-name }}</span>
		</div>
		<h2 class="score">{{ team1-total-score }}</h2>
	</div>

	<div class="team2">
		<div class="topLock">
			<span class="seed">{{ team2-seed }}</span>
			<span class="name">{{ team2-name }}</span>
		</div>
		<h2 class="score">{{ team2-total-score }}</h2>
	</div>
</div>

<div class="recap">
	<h2 class="title">Recap</h2>
	<p class="text">{{ match-summary }}</p>
</div>

<div class="chart"></div>

<div class="notable">
	<div class="badge-wrapper">
		<div class="badge {{ match-badge }}"></div>
		<!-- <img src="/images/badges/Blowout.svg" alt=""> -->
	</div>
	<div class="badgeText">
		<h2 class="title">{{ match-badge }}</h2>
		<p class="text">{{ match-badge-summary }}</p>
	</div>
</div>

<div class="continue">
	<a class="text" href="{{ match-post-link }}">Continue Reading ›</a>
</div>