<div class="popup">
	<div class="close">
		<span class="ic icon-stop"></span>
		<span class="ic icon-close"></span>
	</div>

	<div class="header">
		<div class="team1">
			<div class="topLock">
				<span class="seed">12</span>
				<span class="name">Bluejays</span>
			</div>
			<h2 class="score">78</h2>
		</div>

		<div class="team2">
			<div class="topLock">
				<span class="seed">3</span>
				<span class="name">Duke</span>
			</div>
			<h2 class="score">60</h2>
		</div>
	</div>

	<div class="recap">
		<h2 class="title">Recap</h2>
		<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit modi minima exercitationem debitis. Error, provident, aut, tenetur suscipit eum ipsam quidem corporis a placeat sapiente cupiditate quasi perspiciatis labore natus.</p>
	</div>

	<div class="chart"></div>

	<div class="notable">
		<div class="badge-wrapper">
			<div class="badge Blowout"></div>
			<!-- <img src="/images/badges/Blowout.svg" alt=""> -->
		</div>
		<div class="badgeText">
			<h2 class="title">Blowout</h2>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, soluta, fuga. Aliquam, optio ratione eum tempore modi impedit reprehenderit vero id fuga voluptas libero eveniet maxime laboriosam blanditiis amet voluptatem?</p>
		</div>
	</div>

	<div class="continue">
		<span class="text">Continue Reading ›</span>
	</div>

</div>