<h2 class="region-title">{{ region-title }}</h2>
<div class="round round2">
	<h2 class="round-title">2nd Round</h2>
	<h2 class="round-date">March 20-21</h2>
</div>
<div class="round round3">
<h2 class="round-title">3rd Round</h2>
	<h2 class="round-date">March 22-23</h2>
</div>
<div class="round round4">
	<h2 class="round-title">Regional Semis</h2>
	<h2 class="round-date">March 27-28</h2>
</div>
<div class="round round5">
	<h2 class="round-title">Regional Finals</h2>
	<h2 class="round-date">March 29-30</h2>
</div>
<div class="round round6">
	<h2 class="round-title">National Semis</h2>
	<h2 class="round-date">April 5</h2>
</div>
<div class="round round7">
	<h2 class="round-title">National Championship</h2>
	<h2 class="round-date">April 7</h2>
</div>