@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-7mo3wt');
  src: url('/fonts/icomoon.eot?#iefix-7mo3wt') format('embedded-opentype'), url('/fonts/icomoon.woff?-7mo3wt') format('woff'), url('/fonts/icomoon.ttf?-7mo3wt') format('truetype'), url('/fonts/icomoon.svg?-7mo3wt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-stop:before {
  content: "\e600"; }

.icon-close:before {
  content: "\e601"; }

.icon-spinner:before {
  content: "\e602"; }

@-webkit-keyframes animRotate {
  0% {
    -webkit-transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes animRotate {
  0% {
    -moz-transform: rotate(0); }

  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes animRotate {
  0% {
    -o-transform: rotate(0); }

  100% {
    -o-transform: rotate(360deg); } }

@keyframes animRotate {
  0% {
    transform: rotate(0); }

  100% {
    transform: rotate(360deg); } }

#huffpostcode-march-madness.dont.touch.my.styles {
  position: relative;
  max-width: 900px;
  overflow: hidden;
  font-size: 10px;
  margin-left: -6px;
  margin-right: -6px;
  *zoom: 1;
  /* apply a natural box layout model to all elements */
  /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
  /**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
  /**
 * Remove default margin.
 */
  /* HTML5 display definitions
   ========================================================================== */
  /**
 * Correct `block` display not defined in IE 8/9.
 */
  /**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
  /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
  /**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
  /* Links
   ========================================================================== */
  /**
 * Remove the gray background color from active links in IE 10.
 */
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
  /* Text-level semantics
   ========================================================================== */
  /**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
  /**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address styling not present in Safari 5 and Chrome.
 */
  /**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address styling not present in IE 8/9.
 */
  /**
 * Address inconsistent and variable font size in all browsers.
 */
  /**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
  /* Embedded content
   ========================================================================== */
  /**
 * Remove border when inside `a` element in IE 8/9.
 */
  /**
 * Correct overflow displayed oddly in IE 9.
 */
  /* Grouping content
   ========================================================================== */
  /**
 * Address margin not present in IE 8/9 and Safari 5.
 */
  /**
 * Address differences between Firefox and other browsers.
 */
  /**
 * Contain overflow in all browsers.
 */
  /**
 * Address odd `em`-unit font size rendering in all browsers.
 */
  /* Forms
   ========================================================================== */
  /**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
  /**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
  /**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
  /**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
  /**
 * Re-set default cursor for disabled elements.
 */
  /**
 * Remove inner padding and border in Firefox 4+.
 */
  /**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
  /**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
  /**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
  /**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
  /**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
  /**
 * Define consistent border, margin, and padding.
 */
  /**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
  /**
 * Remove default vertical scrollbar in IE 8/9.
 */
  /**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
  /* Tables
   ========================================================================== */
  /**
 * Remove most spacing between table cells.
 */ }
  #huffpostcode-march-madness.dont.touch.my.styles:before, #huffpostcode-march-madness.dont.touch.my.styles:after {
    content: " ";
    display: table; }
  #huffpostcode-march-madness.dont.touch.my.styles:after {
    clear: both; }
  #huffpostcode-march-madness.dont.touch.my.styles *, #huffpostcode-march-madness.dont.touch.my.styles *:before, #huffpostcode-march-madness.dont.touch.my.styles *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #huffpostcode-march-madness.dont.touch.my.styles html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }
  #huffpostcode-march-madness.dont.touch.my.styles body {
    margin: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles article, #huffpostcode-march-madness.dont.touch.my.styles aside, #huffpostcode-march-madness.dont.touch.my.styles details, #huffpostcode-march-madness.dont.touch.my.styles figcaption, #huffpostcode-march-madness.dont.touch.my.styles figure, #huffpostcode-march-madness.dont.touch.my.styles footer, #huffpostcode-march-madness.dont.touch.my.styles header, #huffpostcode-march-madness.dont.touch.my.styles hgroup, #huffpostcode-march-madness.dont.touch.my.styles main, #huffpostcode-march-madness.dont.touch.my.styles nav, #huffpostcode-march-madness.dont.touch.my.styles section, #huffpostcode-march-madness.dont.touch.my.styles summary {
    display: block; }
  #huffpostcode-march-madness.dont.touch.my.styles audio, #huffpostcode-march-madness.dont.touch.my.styles canvas, #huffpostcode-march-madness.dont.touch.my.styles progress, #huffpostcode-march-madness.dont.touch.my.styles video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  #huffpostcode-march-madness.dont.touch.my.styles audio:not([controls]) {
    display: none;
    height: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles [hidden], #huffpostcode-march-madness.dont.touch.my.styles template {
    display: none; }
  #huffpostcode-march-madness.dont.touch.my.styles a {
    background: transparent; }
  #huffpostcode-march-madness.dont.touch.my.styles a:active, #huffpostcode-march-madness.dont.touch.my.styles a:hover {
    outline: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles abbr[title] {
    border-bottom: 1px dotted; }
  #huffpostcode-march-madness.dont.touch.my.styles b, #huffpostcode-march-madness.dont.touch.my.styles strong {
    font-weight: bold; }
  #huffpostcode-march-madness.dont.touch.my.styles dfn {
    font-style: italic; }
  #huffpostcode-march-madness.dont.touch.my.styles h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  #huffpostcode-march-madness.dont.touch.my.styles mark {
    background: #ff0;
    color: #000; }
  #huffpostcode-march-madness.dont.touch.my.styles small {
    font-size: 80%; }
  #huffpostcode-march-madness.dont.touch.my.styles sub, #huffpostcode-march-madness.dont.touch.my.styles sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  #huffpostcode-march-madness.dont.touch.my.styles sup {
    top: -0.5em; }
  #huffpostcode-march-madness.dont.touch.my.styles sub {
    bottom: -0.25em; }
  #huffpostcode-march-madness.dont.touch.my.styles img {
    border: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles svg:not(:root) {
    overflow: hidden; }
  #huffpostcode-march-madness.dont.touch.my.styles figure {
    margin: 1em 40px; }
  #huffpostcode-march-madness.dont.touch.my.styles hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles pre {
    overflow: auto; }
  #huffpostcode-march-madness.dont.touch.my.styles code, #huffpostcode-march-madness.dont.touch.my.styles kbd, #huffpostcode-march-madness.dont.touch.my.styles pre, #huffpostcode-march-madness.dont.touch.my.styles samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  #huffpostcode-march-madness.dont.touch.my.styles button, #huffpostcode-march-madness.dont.touch.my.styles input, #huffpostcode-march-madness.dont.touch.my.styles optgroup, #huffpostcode-march-madness.dont.touch.my.styles select, #huffpostcode-march-madness.dont.touch.my.styles textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  #huffpostcode-march-madness.dont.touch.my.styles button {
    overflow: visible; }
  #huffpostcode-march-madness.dont.touch.my.styles button, #huffpostcode-march-madness.dont.touch.my.styles select {
    text-transform: none; }
  #huffpostcode-march-madness.dont.touch.my.styles button, #huffpostcode-march-madness.dont.touch.my.styles html input[type="button"], #huffpostcode-march-madness.dont.touch.my.styles input[type="reset"], #huffpostcode-march-madness.dont.touch.my.styles input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  #huffpostcode-march-madness.dont.touch.my.styles button[disabled], #huffpostcode-march-madness.dont.touch.my.styles html input[disabled] {
    cursor: default; }
  #huffpostcode-march-madness.dont.touch.my.styles button::-moz-focus-inner, #huffpostcode-march-madness.dont.touch.my.styles input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles input {
    line-height: normal; }
  #huffpostcode-march-madness.dont.touch.my.styles input[type="checkbox"], #huffpostcode-march-madness.dont.touch.my.styles input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  #huffpostcode-march-madness.dont.touch.my.styles input[type="number"]::-webkit-inner-spin-button, #huffpostcode-march-madness.dont.touch.my.styles input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  #huffpostcode-march-madness.dont.touch.my.styles input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }
  #huffpostcode-march-madness.dont.touch.my.styles input[type="search"]::-webkit-search-cancel-button, #huffpostcode-march-madness.dont.touch.my.styles input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  #huffpostcode-march-madness.dont.touch.my.styles fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  #huffpostcode-march-madness.dont.touch.my.styles legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  #huffpostcode-march-madness.dont.touch.my.styles textarea {
    overflow: auto; }
  #huffpostcode-march-madness.dont.touch.my.styles optgroup {
    font-weight: bold; }
  #huffpostcode-march-madness.dont.touch.my.styles table {
    border-collapse: collapse;
    border-spacing: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles td, #huffpostcode-march-madness.dont.touch.my.styles th {
    padding: 0; }
  #huffpostcode-march-madness.dont.touch.my.styles {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: #333333; }
  @media all and (min-width: 900px) {
    #huffpostcode-march-madness.dont.touch.my.styles {
      margin: 0 auto; } }
  #huffpostcode-march-madness.dont.touch.my.styles header {
    background-color: #e5e5e5;
    border-bottom: 1px solid #4c4c4c;
    padding: 10px;
    max-height: 80px;
    overflow: hidden;
    *zoom: 1; }
    #huffpostcode-march-madness.dont.touch.my.styles header:before, #huffpostcode-march-madness.dont.touch.my.styles header:after {
      content: " ";
      display: table; }
    #huffpostcode-march-madness.dont.touch.my.styles header:after {
      clear: both; }
    #huffpostcode-march-madness.dont.touch.my.styles header .title-wrapper {
      position: relative;
      width: 40%;
      padding-bottom: 10%;
      float: left; }
    #huffpostcode-march-madness.dont.touch.my.styles header .title {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      font-family: 'Roboto Slab', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: uppercase;
      margin: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles header .hpc-social {
      float: right;
      width: 40%; }
    #huffpostcode-march-madness.dont.touch.my.styles header .back-wrapper, #huffpostcode-march-madness.dont.touch.my.styles header .fb-wrapper, #huffpostcode-march-madness.dont.touch.my.styles header .twit-wrapper {
      position: relative;
      float: right;
      width: 30%;
      padding-bottom: 30%;
      max-width: 60px; }
    #huffpostcode-march-madness.dont.touch.my.styles header .back, #huffpostcode-march-madness.dont.touch.my.styles header .facebook, #huffpostcode-march-madness.dont.touch.my.styles header .twitter {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 60px;
      max-height: 60px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      cursor: pointer; }
    #huffpostcode-march-madness.dont.touch.my.styles header .back {
      background-image: url('/images/close.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles header .facebook {
      background-image: url('/images/facebook.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles header .twitter {
      background-image: url('/images/twitter.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles header .back {
      display: none; }
    #huffpostcode-march-madness.dont.touch.my.styles header .back.midwest, #huffpostcode-march-madness.dont.touch.my.styles header .back.south, #huffpostcode-march-madness.dont.touch.my.styles header .back.west, #huffpostcode-march-madness.dont.touch.my.styles header .back.east, #huffpostcode-march-madness.dont.touch.my.styles header .back.finals {
      display: block; }
      #huffpostcode-march-madness.dont.touch.my.styles header .back.midwest:hover, #huffpostcode-march-madness.dont.touch.my.styles header .back.south:hover, #huffpostcode-march-madness.dont.touch.my.styles header .back.west:hover, #huffpostcode-march-madness.dont.touch.my.styles header .back.east:hover, #huffpostcode-march-madness.dont.touch.my.styles header .back.finals:hover {
        fill: #333333; }
  @media all and (min-width: 900px) {
    #huffpostcode-march-madness.dont.touch.my.styles header .title-wrapper {
      width: 60%; }
      #huffpostcode-march-madness.dont.touch.my.styles header .title-wrapper .title {
        font-size: 3em; }
    #huffpostcode-march-madness.dont.touch.my.styles header .back-wrapper {
      display: none; } }
  #huffpostcode-march-madness.dont.touch.my.styles header .map-wrapper {
    display: none;
    position: relative;
    float: right;
    width: 100px;
    height: 80px;
    margin-top: -5px;
    cursor: pointer; }
  #huffpostcode-march-madness.dont.touch.my.styles header .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  #huffpostcode-march-madness.dont.touch.my.styles header .midwest .map {
    background-image: url('/images/map/midwest.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles header .south .map {
    background-image: url('/images/map/south.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles header .west .map {
    background-image: url('/images/map/west.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles header .east .map {
    background-image: url('/images/map/east.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles header .finals .map {
    background-image: url('/images/map/finals.svg'); }
  @media all and (min-width: 900px) {
    #huffpostcode-march-madness.dont.touch.my.styles header .map {
      display: none; } }
  #huffpostcode-march-madness.dont.touch.my.styles .landing {
    display: none; }
  #huffpostcode-march-madness.dont.touch.my.styles .landing.active {
    display: block; }
  @media all and (min-width: 900px) {
    #huffpostcode-march-madness.dont.touch.my.styles .landing, #huffpostcode-march-madness.dont.touch.my.styles .landing.active {
      display: none; } }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .top, #huffpostcode-march-madness.dont.touch.my.styles .landing .bottom {
    width: 100%; }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .region {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    cursor: pointer; }
    #huffpostcode-march-madness.dont.touch.my.styles .landing .region:hover span {
      font-size: 2.6em; }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .midwest, #huffpostcode-march-madness.dont.touch.my.styles .landing .south, #huffpostcode-march-madness.dont.touch.my.styles .landing .west, #huffpostcode-march-madness.dont.touch.my.styles .landing .east {
    display: inline-block;
    width: 49%;
    padding-bottom: 60%; }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .finals {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10%; }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .midwest {
    background-image: url('/images/smallBrackets/left.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .south {
    background-image: url('/images/smallBrackets/right.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .west {
    background-image: url('/images/smallBrackets/left.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .east {
    background-image: url('/images/smallBrackets/right.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .landing .finals {
    background-image: url('/images/smallBrackets/finals.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .landing span {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: font-size, 0.2s ease;
    -moz-transition: font-size, 0.2s ease;
    transition: font-size, 0.2s ease; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
    background: white;
    padding-top: 28px;
    border: 2px solid #333333; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup.active {
    display: block; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup.tall {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .close {
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 1.3em;
    cursor: pointer; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .close:hover .icon-close {
      color: #333333; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .close:hover .icon-stop {
      color: white; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .close .icon-close {
      color: white;
      z-index: 9;
      position: absolute;
      top: 48%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      transition: color 0.2s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .close .icon-stop {
      color: #b2b2b2;
      font-size: 2em;
      background-color: white;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      transition: color 0.2s ease; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .hpc-header {
    overflow: auto;
    margin-bottom: 10px; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team1, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 {
    width: 50%;
    float: left;
    clear: right;
    border-bottom: 1px solid #b2b2b2; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .topLock, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .topLock {
      height: 3em;
      position: relative; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .name, #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .seed, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .name, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .seed {
      color: #b2b2b2;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .seed, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .seed {
      font-size: 1.5em; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .name, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .name {
      margin: 0;
      font-size: 2em;
      padding: 0.2em;
      text-transform: uppercase; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .score, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .score {
      color: #b2b2b2;
      clear: both;
      margin: 0;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 3.5em;
      padding: 10px 10px;
      border-top: 1px solid #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team1.winner .seed, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2.winner .seed {
    color: #4c4c4c; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team1.winner .name, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2.winner .name {
    color: #4c4c4c; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team1.winner .score, #huffpostcode-march-madness.dont.touch.my.styles .popup .team2.winner .score {
    color: #4c4c4c; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 {
    border-right: 1px solid #b2b2b2; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .seed {
      left: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .name {
      right: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team1 .score {
      text-align: right;
      border-left: 1px solid #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 {
    border-left: 1px solid #b2b2b2; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .seed {
      right: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .team2 .score {
      border-right: 1px solid #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart text {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 10pt;
    text-anchor: middle;
    fill: #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .axis {
    stroke-width: 2;
    stroke: #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .xAxisText {
    fill: #b2b2b2; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team1 .scoreLine, #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team2 .scoreLine {
    stroke: #b2b2b2;
    stroke-width: 2;
    fill: none; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team1 .scoreCircle, #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team2 .scoreCircle {
    stroke: #b2b2b2;
    stroke-width: 2;
    fill: white; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team1 text, #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .team2 text {
    alignment-baseline: middle; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .winner .scoreLine {
    stroke: #333333; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .winner .scoreCircle {
    stroke: #333333; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .chart .winner text {
    fill: #333333; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .title {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .text {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .notable {
    overflow: auto;
    margin: 10px; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badgeText {
    width: 58%;
    float: left; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge-wrapper {
    position: relative;
    width: 40%;
    padding-bottom: 40%;
    float: left; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px; }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Blowout {
    background-image: url('/images/badges/Blowout.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.BuzzerBeater {
    background-image: url('/images/badges/BuzzerBeater.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Cinderella {
    background-image: url('/images/badges/Cinderella.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Injury {
    background-image: url('/images/badges/Injury.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.OnFire {
    background-image: url('/images/badges/OnFire.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Player {
    background-image: url('/images/badges/Player.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Stat {
    background-image: url('/images/badges/Stat.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .badge.Trophy {
    background-image: url('/images/badges/Trophy.svg'); }
  #huffpostcode-march-madness.dont.touch.my.styles .popup .continue {
    display: none;
    background-color: #e5e5e5;
    text-align: center;
    padding: 1.8em 0;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .continue.active {
      display: block; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .continue:hover {
      background-color: #4c4c4c; }
      #huffpostcode-march-madness.dont.touch.my.styles .popup .continue:hover .text {
        color: white; }
    #huffpostcode-march-madness.dont.touch.my.styles .popup .continue .text {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 1.3em;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      text-decoration: none;
      color: #333333;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      transition: color 0.2s ease; }
  #huffpostcode-march-madness.dont.touch.my.styles #bracket {
    max-width: 900px;
    margin: 0 auto;
    *zoom: 1; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket:before, #huffpostcode-march-madness.dont.touch.my.styles #bracket:after {
      content: " ";
      display: table; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket:after {
      clear: both; }
  #huffpostcode-march-madness.dont.touch.my.styles #bracket .spinner-wrapper {
    height: 0;
    position: relative;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .spinner-wrapper .spinner {
      display: none; }
  #huffpostcode-march-madness.dont.touch.my.styles #bracket.loading .spinner-wrapper {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket.loading .spinner-wrapper .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 8em;
      color: #b2b2b2;
      -webkit-animation: animRotate, 2s, infinite, linear;
      -moz-animation: animRotate, 2s, infinite, linear;
      animation: animRotate, 2s, infinite, linear; }
  #huffpostcode-march-madness.dont.touch.my.styles #bracket.dim .spinner-wrapper {
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 9;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket.dim .spinner-wrapper .spinner {
      display: none; }
  #huffpostcode-march-madness.dont.touch.my.styles #bracket {
    position: relative; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .region {
      display: none;
      position: relative;
      width: 310px;
      height: 480px;
      margin: 0 auto; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .region-title {
      display: none;
      position: absolute;
      text-transform: uppercase;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 22px;
      color: #4c4c4c;
      margin: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .close {
      position: absolute;
      font-size: 2.7em;
      cursor: pointer;
      *zoom: 1; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .close:before, #huffpostcode-march-madness.dont.touch.my.styles #bracket .close:after {
        content: " ";
        display: table; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .close:after {
        clear: both; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .close:hover .icon-close {
        color: #333333; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .close .icon-close {
        color: #b2b2b2;
        z-index: 9;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        transition: color 0.2s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.active {
      display: block; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round {
      width: 100px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .round .round-date {
        display: none; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .round .round-title {
        display: none; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .close, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .close {
      right: -7px;
      top: 10px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round {
      float: left;
      margin-right: 10px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round.round4, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round.round4 {
        margin-left: -60px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round.round5, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round.round5 {
        margin-left: -80px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .close, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .close {
      right: -7px;
      top: 10px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round {
      float: right;
      margin-left: 10px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round2, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round2 {
        margin-right: 12px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round4, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round4 {
        margin-right: -60px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round5, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round5 {
        margin-right: -84px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east, #huffpostcode-march-madness.dont.touch.my.styles #bracket .west, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest {
      background-repeat: no-repeat;
      background-size: auto 527px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east {
      background-position: -39px -71px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .west, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest {
      background-position: -1px -63px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south {
      background-image: url('/images/lines/south.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .east {
      background-image: url('/images/lines/east.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .west {
      background-image: url('/images/lines/west.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest {
      background-image: url('/images/lines/midwest.svg'); }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round2 {
      margin-top: 2%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round2 .match {
      margin-bottom: 8%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round3 {
      margin-top: 10%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round3 .match {
      margin-bottom: 67%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round4 {
      margin-top: 28%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round4 .match {
      margin-bottom: 184%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round5 {
      margin-top: 206px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round6, #huffpostcode-march-madness.dont.touch.my.styles #bracket .round7 {
      display: none; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round2, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round3, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round4, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round5 {
      display: none; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round7 {
      display: block; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6 {
      width: 100%;
      margin-top: 50px;
      *zoom: 1; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6:before, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6:after {
        content: " ";
        display: table; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6:after {
        clear: both; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6 .match {
        float: left; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round6 .match:last-child {
        float: right; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round7 {
      width: 100%; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round7 .match {
        margin: 10px auto; }
  @media all and (min-width: 450px) {
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .region {
      width: 450px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region .region-title {
        display: block;
        top: 252px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region .round-title, #huffpostcode-march-madness.dont.touch.my.styles #bracket .region .round-date {
        display: block;
        color: #b2b2b2;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
        margin: 0 5px;
        font-size: 12px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round-title, #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .round-date {
      text-align: center; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .south, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east {
      background-position: 20px -28px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .region-title, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .region-title {
        left: 231px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round.round2, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round.round2 {
        margin-left: 8px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round.round4, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round.round4 {
        margin-left: 0; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .south .round.round5, #huffpostcode-march-madness.dont.touch.my.styles #bracket .east .round.round5 {
        margin-left: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .west, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest {
      background-position: 84px -29px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .region-title, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .region-title {
        left: 130px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round2, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round2 {
        margin-right: 8px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round4, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round4 {
        margin-right: 0; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .west .round.round5, #huffpostcode-march-madness.dont.touch.my.styles #bracket .midwest .round.round5 {
        margin-right: 0; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .finals .region-title {
      top: 42px;
      left: 184px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round2 {
      margin-top: 8px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round2 .match {
      margin-bottom: 8%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round3 {
      margin-top: 40px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round3 .match {
      margin-bottom: 66px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round4 {
      margin-top: 98px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round4 .match {
      margin-bottom: 184%; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round5 {
      margin-top: 210px; }
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .round6, #huffpostcode-march-madness.dont.touch.my.styles #bracket .round7 {
      display: none; } }
  @media all and (min-width: 900px) {
    #huffpostcode-march-madness.dont.touch.my.styles #bracket .region {
      float: left;
      display: block;
      margin-bottom: 40px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.finals {
        width: 320px; }
        #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.finals .region-title {
          top: 94px;
          left: 118px; }
        #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.finals .round7 .round-title {
          margin-top: 10px; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.west {
        float: right; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.midwest {
        float: right; }
      #huffpostcode-march-madness.dont.touch.my.styles #bracket .region.finals {
        position: absolute;
        top: 408px;
        left: 290px; } }
  #huffpostcode-march-madness.dont.touch.my.styles .match {
    width: 100px;
    height: 50px;
    background-color: #e5e5e5;
    margin: 2px;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    font-size: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #huffpostcode-march-madness.dont.touch.my.styles .match.final {
      border-top: 2px solid #b2b2b2; }
      #huffpostcode-march-madness.dont.touch.my.styles .match.final:hover {
        cursor: pointer;
        background-color: #333333;
        color: white; }
        #huffpostcode-march-madness.dont.touch.my.styles .match.final:hover .team.winner, #huffpostcode-march-madness.dont.touch.my.styles .match.final:hover .team.loser {
          color: white; }
  #huffpostcode-march-madness.dont.touch.my.styles .match .team {
    width: 100px;
    height: 25px;
    padding: 3px; }
    #huffpostcode-march-madness.dont.touch.my.styles .match .team .score {
      float: right; }
  #huffpostcode-march-madness.dont.touch.my.styles .match .team.winner {
    font-weight: 700;
    color: #333333; }
  #huffpostcode-march-madness.dont.touch.my.styles .match .team.loser {
    color: #b2b2b2; }
  @media all and (min-width: 450px) {
    #huffpostcode-march-madness.dont.touch.my.styles .match {
      font-size: 11px; } }
