// TEMP
body{
	margin: 0;
}

@import 'icons'; // includes @font-face

#huffpostcode-march-madness{

	/* apply a natural box layout model to all elements */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
	@import '../../bower_components/normalize-css/normalize';

	@import 'colors';
	@import 'measurements';
	@import 'type';

	@import 'header/header';

	@import 'small_landing/small_landing';
	@import 'small_landing/small_brackets';

	@import 'popup/popup';
	@import 'popup/close';
	@import 'popup/team';
	@import 'popup/chart';
	@import 'popup/text';
	@import 'popup/badge';
	@import 'popup/continue';

	@import 'bracket/region/region';
	@import 'bracket/region/match';

}