// TEMP
body{
	margin: 0;
}

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'icons'; // includes @font-face
@import 'animation'; // includes @keyframes

#huffpostcode-march-madness.dont.touch.my.styles{
	position: relative; // for the kids
	max-width: 900px;
	margin: 0 auto;
	@include clearfix;
	font-size: 10px;

	/* apply a natural box layout model to all elements */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	@import '../../bower_components/normalize-css/normalize';

	@import 'colors';
	@import 'measurements';
	@import 'breakpoints';
	@import 'type';

	@import 'header/header';
	@import 'header/map';

	@import 'landing/landing';
	@import 'landing/brackets';

	@import 'popup/popup';
	@import 'popup/close';
	@import 'popup/team';
	@import 'popup/chart';
	@import 'popup/text';
	@import 'popup/badge';
	@import 'popup/continue';

	@import 'bracket/bracket';
	@import 'bracket/region';
	@import 'bracket/match';

}