header{
	background-color: $x-light-grey;
	border-bottom: 1px solid $grey;
	padding: $medium-padding;

	// overflow: auto;
	height: 50px;


	.title-wrapper {
		position: relative;
		width: 40%;
		padding-bottom: 10%;
		float: left;
	}

	.title{
		position: absolute;

		top: 50%;
		@include transform(translate(0, -50%));

		font-family: $slab;
		font-weight: 700;
		font-size: 1.5em;
		text-transform: uppercase;

		margin: 0; // remove default
	}

	.social{
		float: right;
		width: 30%;
	}

	.fb-wrapper,
	.twit-wrapper {float: right}

	.fb-wrapper,
	.twit-wrapper{
		position: relative; // for the kids
		width: 40%;
		padding-bottom: 40%;
	}

	.facebook,
	.twitter {
		position: absolute;
		top:0;bottom:0;left:0;right:0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		cursor: pointer;
	}

	.facebook{ background-image: url('/images/twitter.svg'); }
	.twitter{ background-image: url('/images/facebook.svg'); }
}