header {
	.map-wrapper {
		display: none;
		position: relative;

		float: right;
		width: 100px;
		height: 80px;
		margin-top: -5px;
		cursor: pointer;
	}

	.map-wrapper.midwest,
	.map-wrapper.south,
	.map-wrapper.west,
	.map-wrapper.east,
	.map-wrapper.finals {
		display: block;
	}

	.map {
		position: absolute;
		top:0;bottom:0;left:0;right:0;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.midwest .map{ background-image: url('/images/map/midwest.svg')}
	.south .map{ background-image: url('/images/map/south.svg')}
	.west .map{ background-image: url('/images/map/west.svg')}
	.east .map{ background-image: url('/images/map/east.svg')}
	.finals .map{ background-image: url('/images/map/finals.svg')}
}

////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////
//////////////////////////////////////////////////////

@media all and (min-width: $full-width) {
	header .map{ display: none }
}