.popup .chart{
	path {
		stroke: $black;
		stroke-width: 2;
		fill: none;
	}

	line {
		stroke-width: 2;
		stroke: $light-grey;
	}

	circle {
		stroke: $grey;
		stroke-width: 2;
		fill: white;
	}


	text {
		font-family: $slab;
		font-size: 10pt;
		text-anchor: middle;
	}

	.xAxisText {
		fill: $light-grey;
	}
}