.popup .chart{

	text {
		font-family: $slab;
		font-size: 10pt;
		text-anchor: middle;
		fill: $light-grey;
	}
	.axis {
		stroke-width: 2;
		stroke: $light-grey;
	}
	.xAxisText {
		fill: $light-grey;
	}

	.team1,
	.team2{
		.scoreLine {
			stroke: $light-grey;
			stroke-width: 2;
			fill: none;
		}
		.scoreCircle {
			stroke: $light-grey;;
			stroke-width: 2;
			fill: white;
		}
		text {
			alignment-baseline: middle;
		}
	}

	.winner{
		.scoreLine {
			stroke: $black;
		}
		.scoreCircle {
			stroke: $black;
		}
		text {
			fill: $black;
		}
	}

}