.popup .close{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.3em;

	// at a larger screen
	// top: -$popup-padding;
	// right: -$popup-padding;

	cursor: pointer; // handle click with javascript

	.icon-close {
		color: white;
		z-index: 9; // above close
		position: absolute;
		top: 48%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
	.icon-stop {
		color: $light-grey;
		font-size: 2em;

		background-color: white;
		// border: $common-border; // at a larger screen
	}
}