.popup .continue {
	display: none;

	background-color: $x-light-grey;
	text-align: center;
	padding: 1.8em 0;
	cursor: pointer;

	@include transition(background-color 0.2s ease);

	&.active{
		display: block;
	}

	&:hover {
		background-color: $grey;
		.text {color: white;}
	}

	.text {
		font-family: $slab;
		font-size: 1.3em;
		letter-spacing: 0.18em;
		text-transform: uppercase;

		text-decoration: none;
		color: $black;

		@include transition(color 0.2s ease);
	}
}