.popup{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	padding: $popup-padding;

	background: white;

	padding-top: $popup-close-size; // for the close button

	// margin: $popup-padding; // do at a larger screen
	// border: $common-border; // do at a larger screen
}