.popup {
	.title {
		font-family: $slab;
		text-transform: uppercase;
		margin: 0; // clear default
		font-size: 1.5em;
		font-weight: 700;
	}
	.text{
		margin: 0; // clear default
		font-size: 14px;
		font-family: $robo;
	}
}

.recap {}