#bracket {

	.region {
		display: none;

		width: 320px;
		height: 480px;
		margin: 0 auto;
	}

	.region.active{
		display: block;
	}

	// .midwest,
	.south,
	.west,
	.east,
	.finals{
		display: none;
	}

	.round{
		width: 31%;
		margin-right: 10px;
		float: left;
		.title { display: none; }
	}

	.round2 { margin-top: 2%; }
	.round2 .match { margin-bottom: 8%; }

	.round3 { margin-top: 10%; }
	.round3 .match { margin-bottom: 67%; }

	.round4 {
		margin-top: 28%;
		margin-left: -50px;
	}
	.round4 .match { margin-bottom: 184%; }

	.round5 {
		margin-top: 66%;
		margin-left: -70px;
	}
	// .round5 .match { margin-bottom: 181%; }

	// .round4 {
	// 	margin-top: 80px;
	// 	.match {
	// 		margin-bottom: 160px;

	// 	}
	// }

	// .round2,
	// .round3,
	// .round4,
	// .round5,
	.round6,
	.round7
	{
		display: none;
	}

}